#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    flavor = "hold-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";

        ime_off {
            bindings = <&kp LANG2>;
            key-positions = <15 16>;
        };

        ime_on {
            bindings = <&kp LANG1>;
            key-positions = <19 20>;
        };
    };

    macros {
        wzero: wzero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp N0 &kp N0>;
        };
    };
    
    behaviors {
        lundo: l_undo {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp LC(Z)>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        default_layer {

            display-name = "Default";

            bindings = <
&kp ESC   &kp Q  &kp W &kp U &kp F         &kp MINUS   &kp SQT     &kp J          &kp H    &kp Y &kp P &to 1
&kp LCTRL &kp E  &kp I &kp A &kp O         &kp COMMA   &kp K       &kp T          &kp N    &kp S &kp R &kp BSPC 
&kp LALT  &lundo &kp X &kp C &kp V         &kp QMARK   &kp G       &kp D          &kp M    &kp Z &kp B &kp RGUI
                      &mo 4 &mt LSHFT TAB &lt 2 ENTER &lt 3 SPACE &mt RSHFT BSPC &mo 5
            >;
        };

        qwerty_layer {

            display-name = "Qwerty";

            bindings = <
&kp ESC   &kp Q &kp W &kp E &kp R         &kp T       &kp Y       &kp U          &kp I     &kp O   &kp P    &to 0
&kp LCTRL &kp A &kp S &kp D &kp F         &kp G       &kp H       &kp J          &kp K     &kp L   &kp SEMI &kp SQT 
&kp LALT  &kp Z &kp X &kp C &kp V         &kp B       &kp N       &kp M          &kp COMMA &kp DOT &kp FSLH &kp RGUI
                      &mo 4 &mt LSHFT TAB &lt 2 ENTER &lt 3 SPACE &mt RSHFT BSPC &mo 5
            >;
        };

        left_layer {
            display-name = "Left";

            bindings = <
&trans &none     &kp LT    &kp GT    &kp EQUAL  &kp PLUS    &kp GRAVE &kp DQT   &none    &none     &kp BSLH  &none
&trans &kp ESC   &kp LBKT  &kp RBKT  &none      &kp DOT     &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &none     &kp DEL
&trans &kp LC(L) &kp LC(X) &kp LC(C) &kp LC(V)  &none       &none     &kp COLON &kp SEMI &none     &kp FSLH  &none
                           &none     &trans     &none       &none     &none     &none
            >;
        };

        right_layer {
            display-name = "Right";

            bindings = <
&trans &kp PRCNT &kp LPAR &kp RPAR &kp UNDER &kp TILDE    &none    &none     &none     &none   &none &none 
&trans &kp AT    &kp LBRC &kp RBRC &kp CARET &kp DLLR     &kp HOME &kp PG_DN &kp PG_UP &kp END &none &none  
&trans &kp HASH  &kp PIPE &kp AMPS &kp STAR  &kp EXCL     &none    &none     &none     &none   &none &none 
                          &none    &trans    &none        &none    &none     &none
            >;
        };

        tenkey_layer {
            display-name = "Tenkey";

            bindings = <
&trans &none &none &none &none  &none    &kp PRCNT &kp N7 &kp N8 &kp N9 &kp EQUAL &kp BSPC
&trans &none &none &none &none  &none    &kp FSLH  &kp N4 &kp N5 &kp N6 &kp MINUS &kp EXCL
&trans &none &none &none &none  &none    &kp STAR  &kp N1 &kp N2 &kp N3 &kp PLUS  &kp QMARK
                   &none &trans &none    &kp ENTER &kp N0 &wzero
            >;
        };

        func_layer {
            display-name = "Function";

            bindings = <
&trans &kp F1 &kp F2  &kp F3  &kp F4  &kp C_VOL_UP &kp C_BRI_UP &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR &sys_reset
&trans &kp F5 &kp F6  &kp F7  &kp F8  &kp C_VOL_DN &kp C_BRI_DN &none        &none        &none        &none      &none
&trans &kp F9 &kp F10 &kp F11 &kp F12 &kp C_MUTE   &none        &none        &none        &none        &none      &bootloader
                      &none   &trans  &none        &none        &none        &none
            >;
        };
    };
};